<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link <%= activeTab === 'OAuth Web Flow' ? 'active' : '' %>" href="/flow?flow=OAuthWebFlow" data-flow="OAuth Web Flow">OAuth Web Flow</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activeTab === 'User Agent Flow' ? 'active' : '' %>" href="/flow?flow=UserAgentFlow" data-flow="User Agent Flow">User Agent Flow</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activeTab === 'JWT Bearer Flow' ? 'active' : '' %>" href="/flow?flow=JWTBearerFlow" data-flow="JWT Bearer Flow">JWT Bearer Flow</a>
        </li>
    </ul>
</nav>
