<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    this is user agent
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<style>
  .navbar-nav .nav-item .nav-link.active {
    background-color: #007bff;
    color: #fff;
  }
</style>
</body>
</html>