<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <% if(data.displayButton) { %>
      <form action="/oauthconn" method="post">
          <button type="submit" id="submit">Inititate Login</button>
      </form> 
    <% } %>
      <form action="/cancel" method="post">
          <button type="submit" id="cancel">Cancel</button>
      </form> 
    <% if(data.displayContext) { %>
      <h1><%= data.displayname %></h1>
    <% } %>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<style>
  .navbar-nav .nav-item .nav-link.active {
    background-color: #007bff;
    color: #fff;
  }
</style>
</body>
</html>